<div class="table-responsive" ng-controller="RankingCtrl">
    <table class="table table-striped">
        <tr>
            <th>#</th>
            <th>Restaurant Name</th>
            <th>Votes</th>
        </tr>
        <tr ng-repeat="restaurant in restaurants">
            <td>{{$index +1}}º</td>
            <td>{{restaurant.name}}</td>
            <td>{{restaurant.votes}}</td>
        </tr>
    </table>
</div>