<div ng-controller="VoteCtrl">
    <form class="form-horizontal" method="post" action="rest/service/vote" role="form">
        <div class="form-group form-group-lg">
            <label class="col-sm-3 control-label" for="restaurant">Restaurant</label>

            <div class="col-sm-6">
                <select id="restaurant" class="form-control" name="restaurant">
                    <option ng-repeat="restaurant in restaurants" value="{{restaurant.id}}" name="restaurant" id="{{restaurant.id}}">
                        {{restaurant.name}}
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group form-group-lg">
            <label class="col-sm-3 control-label" for="employee">Employee</label>

            <div class="col-sm-6">
                <select id="employee" class="form-control" name="employee">
                    <option ng-repeat="employee in employees" value="{{employee.id}}" name="employee" >{{employee.name}}
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group form-group-lg">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-2">
                <button type="submit" class="btn btn-primary">Vote</button>
            </div>
        </div>
    </form>
</div>